# Logs
logs
*.log
.yarn
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


node_modules
dist

coverage
*.local

# Editor directories and files
.vscode

# Export folder
Rent_Calculator-win32-x64